//basic colors
$color-dark: hsl(210, 18%, 20%);
$color-light: hsl(39, 35%, 93%);
$color-black: hsl(0, 0%, 13%);
$color-white: hsl(0, 0%, 98%);
$color-grey: hsl(205, 0%, 60%);
$color-purpleblue: hsl(228, 78%, 59%);
$color-orangered: hsl(16, 100%, 50%);

// light colors
$color-light-grey: hsl(0, 0%, 92%);
$color-light-pink: hsl(7, 93%, 94%);
$color-light-purpleblue: hsl(228, 78%, 65%);
$color-light-orangered: hsl(8, 100%, 60%);
// other colors
$color-turquoise: hsl(174, 72%, 57%);
$color-sky-blue: hsl(206, 68%, 55%);

// webworks colors
$color-yellow: hsl(53, 97%, 66%);
$color-purple: hsl(256, 72%, 57%);
$color-green: hsl(158, 96%, 48%);
$color-baby-blue: hsl(210, 95%, 85%);
