//basic colors
$color-dark: hsl(210, 18%, 20%);
$color-light: hsl(39, 35%, 93%);
$color-black: hsl(0, 0%, 13%);
$color-white: hsl(0, 0%, 98%);
$color-grey: hsl(205, 0%, 60%);
$color-blue: hsl(228, 78%, 59%);
$color-orange: hsl(16, 100%, 50%);

// light colors
$color-light-grey: hsl(0, 0%, 92%);
$color-light-pink: hsl(7, 93%, 94%);
$color-light-blue: hsl(206, 68%, 55%);
// other colors
$color-turquoise: hsl(174, 72%, 57%);
$color-orange-light: hsl(19, 72%, 57%);
